nav {
    display: flex;
    align-items: center;
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: -36px;
    left: 0;
    z-index: 11;
    background: white;
    -webkit-box-shadow: -2px 4px 5px -3px rgba(199, 199, 199, 1);
    -moz-box-shadow: -2px 4px 5px -3px rgba(199, 199, 199, 1);
    box-shadow: -2px 4px 5px -3px rgba(199, 199, 199, 1);

}

.nav-container {
    position: relative;
}

nav .nav-container ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav .nav-container ul li {

    position: relative;
    z-index: 1;
    padding: .8rem 1.5rem;
}

/* navbar animation start*/
nav .nav-container ul li span {
    background-color: rgb(74, 88, 222);
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
}

nav .nav-container ul li span:nth-of-type(1) {
    left: 0%;
}

nav .nav-container ul li span:nth-of-type(2) {
    left: 25%;
}

nav .nav-container ul li span:nth-of-type(3) {
    left: 50%;
}

nav .nav-container ul li span:nth-of-type(4) {
    left: 75%;

}

nav .nav-container ul li:hover {
    color: white;
    transition: all ease-in-out .5s;
}

nav .nav-container ul li:hover span:nth-of-type(1) {
    transform: scaleY(1);
    transition: all ease-in-out .5s 0s;
}

nav .nav-container ul li:hover span:nth-of-type(2) {
    transform: scaleY(1);
    transition: all ease-in-out .5s .1s;
}

nav .nav-container ul li:hover span:nth-of-type(3) {
    transform: scaleY(1);
    transition: all ease-in-out .5s 0.2s;
}

nav .nav-container ul li:hover span:nth-of-type(4) {
    transform: scaleY(1);
    transition: all ease-in-out .5s .3s;
}

/* navbar animation end*/

.col-lg-4.logo-container {
    display: flex;
    align-items: center;
}

.open-button {
    display: none;
}

/*end navbar styling*/
/*home styling start*/
.home {
    background-image: url("./images/home-banner.png");
    background-size: contain;
    margin-top: 4rem;
    position: relative;
    z-index: 1;
    height: 852px;
    display: flex;
    align-items: center;

}

.home .col-lg-6:nth-of-type(1) {
    display: flex;
    align-items: center;
}

.home .content-container h1 {
    line-height: 4rem;

}

.home .content-container h1 span {
    font-size: 3rem;
    color: black;
    display: inline-block;
}

.home .content-container img.img-hand {
    transform-origin: right;
    transform: rotate(0deg);
    animation: wave linear 2s infinite;
    display: inline-block;
}

.content-container {
    position: relative;
}

@keyframes wave {
    from {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(45deg);

    }

    100% {
        transform: rotate(0deg);
    }

}

.home .content-container p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

/*home buttons styling*/
.button-hire {
    border: 1px solid;
    display: inline-block;
    background: rgb(74, 88, 222);
    background: linear-gradient(90deg, rgba(74, 88, 222, 1) 25%, rgba(129, 80, 237, 1) 83%);
    color: white;
    border-radius: 0.3rem;
    width: 145px;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 9px 0px rgba(227, 220, 249, 0.75);
    -webkit-box-shadow: 10px 10px 9px 0px rgba(227, 220, 249, 0.75);
    -moz-box-shadow: 10px 10px 9px 0px rgba(227, 220, 249, 0.75);
}

.button-hire span {
    position: relative;
    z-index: 3;
    font-weight: 500;
    letter-spacing: 2px;
}

.button-hire::before {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    background: transparent;
    top: 1px;
    left: 1px;
    transform: scale(2);
    visibility: hidden;
}

.button-hire:hover {
    color: black;
    border-image: linear-gradient(to right bottom, rgba(74, 88, 222, 1) 25%, rgba(129, 80, 237, 1) 83%);
    border-style: solid;
    border-image-slice: 1;
    border-width: 2px;
    box-shadow: 0px 0px 9px 0px rgba(227, 220, 249, 0.75);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(227, 220, 249, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(227, 220, 249, 0.75);
}

.button-hire:hover::before {
    visibility: visible;
    transform: scale(1);
    transition: all ease-in-out .2s;
    background: white;
    z-index: 1;

}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 21em;
    margin-top: 3rem;
}

.button-cv {
    color: black;
    border-image: linear-gradient(to right bottom, rgba(74, 88, 222, 1) 25%, rgba(129, 80, 237, 1) 83%);
    border-style: solid;
    border-image-slice: 1;
    border-width: 2px;
    box-shadow: 0px 0px 9px 0px rgba(227, 220, 249, 0.75);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(227, 220, 249, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(227, 220, 249, 0.75);
    display: inline-block;
    width: 145px;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    text-transform: uppercase;

}

.button-cv span {
    z-index: 3;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
}

.button-cv:hover {
    border: 1px solid;
    display: inline-block;
    background: rgb(74, 88, 222);
    background: linear-gradient(90deg, rgba(74, 88, 222, 1) 25%, rgba(129, 80, 237, 1) 83%);
    color: white;
    border-radius: 0.3rem;
    width: 145px;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 9px 0px rgba(227, 220, 249, 0.75);
    -webkit-box-shadow: 10px 10px 9px 0px rgba(227, 220, 249, 0.75);
    -moz-box-shadow: 10px 10px 9px 0px rgba(227, 220, 249, 0.75);
    transition: all ease-in-out .2s;
}

.button-cv:hover span a {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
}

.Typewriter__cursor {
    display: none;
}

/*home styling end*/

/*start skills section styling*/

.skills-section {
    position: relative;
    z-index: 1;
}

/*
PROGRESS BAR STYLING
*/
.progress-bar-container {
    width: 400px;
    height: 1.9rem;
    background-color: lightgrey;
    margin: 10px 0;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, rgba(74, 88, 222, 1) 25%, rgba(129, 80, 237, 1) 83%);
    transition: width 1s ease-in-out;
    position: relative;
}

.percentage {
    position: absolute;
    left: calc(100% - 30px);
    font-size: 14px;
    font-weight: bold;
}

div.progress-block {
    font-weight: bold;
    font-size: 18px;
    margin-top: 21px;
}

.about-disc h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.about-disc p {
    line-height: 2rem;
    font-size: 17px;
    color: grey;
}

.black-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-screen::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: .5;

}

.close-cer {
    z-index: 12;
    cursor: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: black;
    opacity: 1;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    color: white;
    border: none;
    outline: none;
    opacity: .8;
}



.slider-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 12;
}

.slick-center {
    margin: 0 auto;
}

.slick-slide img {
    max-width: 100%;
    height: auto;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

@media (max-width: 768px) {

    .slick-prev:before,
    .slick-next:before {
        font-size: 10px;
    }
}


/*end skills section styling*/



/*statr portofolio section styling*/
.item {
    margin-top: 1.5rem;
}
.item> img{
    box-shadow: 1px 3px 23px 2px #d7d1d1 ;
    -moz-box-shadow: 1px 3px 23px 2px #d7d1d1;
    -webkit-box-shadow: 1px 3px 23px 2px #d7d1d1
}
.item h4{
    margin: 16px 9px;
}
.works-container {
    margin-top: 11rem;
}
/*end portofolio section styling*/
.works-container h1{
    margin: 3rem 1rem;
}
.overlay-container{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(77, 87, 222, 0.5);
    color: white;
    transform: scale(0);
    overflow-y: scroll;

}
.overlay-container:hover .overlay{
    transform: scale(1);
    transition: all ease-in .5s;
}
.overlay p {
    font-size: 17px;
    padding: 1rem;
}
.overlay >div {
    display: flex;
    justify-content: center;
    margin: -21px 0px;
}
button.btn.btn-primary {
    background: linear-gradient(90deg, rgba(74, 88, 222, 1) 25%, rgba(129, 80, 237, 1) 83%);
    border: none;
    margin: 1rem;

}
textarea{
    resize: none;
}
form {
    margin: 15rem 0rem;
    height: 28rem;
    z-index: 13;
    position: relative;
}
form h1{
    margin: 3rem 0rem;
    position: relative;
}
a.active ~*{
    
    transform: scale(1) !important;
    

}
a.active{
    color: white!important; 
}